{%- assign page_paths = site.header_pages | default: default_paths -%}
<header>


  <div class="menu mainmenu">
    <ul>
      {%- for path in page_paths -%}
      {%- assign my_page = site.pages | where: "path", path | first -%}
      {%- if my_page.title -%}
      <li><a {% if my_page.title == page.title %}class="active"{% endif %} href="{{ my_page.url | relative_url }}">{{ my_page.title | escape }}</a></li>
      {%- endif -%}
      {%- endfor -%}
      <li class="theme-selector">[<a href="#" id="themeSelectorLink">dark</a>]</li>

    </ul>
  </div>

  <!-- <div class="menu noborder"> -->
  <!--   <ul> -->
  <!--     <li><a href="#">light</a>/<a class="selected-theme">dark</a>/<a>hack</a></li> -->
  <!--   </ul> -->
  <!-- </div> -->
</header>
